@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

*::selection {
  background-color: #07f9c8;
  color: #fff;
}

.gradiant-text {
  background: linear-gradient(180deg, #fff, hsla(0, 0%, 100%, 0.2));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}


/* swiper button customize */

.swiper-pagination-bullet{
  background-color: #07f9c8 !important;
}